@import url("https://fonts.googleapis.com/css?family=Inria Serif");
@import url("https://fonts.googleapis.com/css?family=Inter");

[data-bs-theme="dark"] .input-box input {
    background: transparent;
    color: white;

}
[data-bs-theme="dark"] .input-box {
    background: transparent;
    border: #ffffff 2px solid;
}

 [data-bs-theme="dark"] .form-check-input:checked {
    border-color: #9f9f9f;
 }

div {
    margin: 0;
    padding: 0;
    border: 0;
    outline:0;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    font-size: 100%;
}

.title {
 text-align: center;
 font-size: 64px;
 font-family: 'Inria Serif';
 margin-top: 50px;
 margin-bottom: 16px;
}

/* https://getbootstrap.com/docs/5.0/layout/breakpoints/#between-breakpoints */
/*https://www.browserstack.com/guide/what-are-css-and-media-query-breakpoints*/

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .title{
        font-size: 50px;
    }
    .input-box input {
        width: 100%;
        padding: 15px 0;
        border: 0;
        outline: 0;
        font-size: 16px !important;
        color: #000000;   
    }
    
    /*.icon, .clear_field_button{
        stroke: currentColor !important;
    }*/




    /* .clear_field_button, .icon{
        width: 50px;
        height: 30px;
    } */

    .input-box {
      justify-content: space-between;
    }


    
    #timeCrack__box{
        left: 10px !important;
        float: left !important;
        text-align: right !important;
        position: relative !important;
        display: block;
    }


    .rules__checkbox{
        margin-right: 20px !important;
    }

    
    #HIBP_feedback{
        font-size: 18px !important;
    }

    #status{
        font-size: 14px;
    }

    #warningList, #suggestionsList{
        padding-left: 10px;
    }
    .box-nist{
        text-align: left !important;
        font-size: 15px;
        width: 90% !important;
    }

    ul{
        padding-left: 10px !important;
    }
  }

.page{
    position: relative;
    width: 100%;
    max-width: 1440px;
    padding:0 0px;
    box-sizing: border-box;
    margin:0 auto;
}

.inner__form{
    padding:0 1rem;
}

.nav-bar {
    padding: 20px;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.20);
}
.text__theme__light{
    margin-right: 50px;
}

.text__theme__dark{
    margin-left: 10px;
}

.form-switch .form-check-input:checked{
    background-color: rgb(163, 163, 163);
}

.form-check.form-switch {
    display: flex;
    justify-content: right;
}

#themeSwitch{
    margin-top: 5px;
}
#themeLabel{
    margin-left: 5.5px;
}

body{
    font-family: 'Inter', sans-serif;
    background-color: rgb(255, 255, 255);
    margin: auto;
    font-size: 18px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
}
p {
    background-color: rgb(255, 255, 255);
    margin-bottom: 0;
}

.input-box {
    background: #ffffff;
    border: rgba(30, 50, 80, 0.20) 2px solid;
    text-align: center;
    display: flex;
    align-items: center;
    width: 90%;
    max-width: 840px;
    border-radius: 25px;
    padding: 10px 20px;
    margin:  auto;
}

.input-box input{
    width: 100%;
    padding: 15px 0;
    border: 0;
    outline: 0;
    font-size: 30px;
    color: #000000;
}

.input-box button{
    cursor: pointer;
    height: auto;
    background-color: transparent;
    display: flex;
    border: none;
}
/* https://css-tricks.com/the-many-ways-to-change-an-svg-fill-on-hover-and-when-to-use-them/ */
.input-box button:hover{
    filter: invert(0.5);

}

.infoStrength {
    width: 90%;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

#PasswordStrength__box{
    margin-right: 20%;
    position: relative;
}

#timeCrack__box{
    left: 56%;
    float: left;
    text-align: right;
    position: absolute;
}

#strengthMeter {
    width: 100%;
    height: 8px;
    background: #eee;
    border-radius: 4px;
    overflow: hidden;
    /* margin-top: 10px; */
    margin-bottom: 10px;
}

#strengthBar {
    display: block !important;
    height: 100%;
    width: 0%;
    transition: width 0.3s ease;
    border-radius: 16px;
}

.progress-bar{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.Box_Feedback{
    width: 90%;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
}

#warningList {
    margin-bottom: 0;
  }
  
#suggestionsList {
    margin-top: 0;
    list-style-type: none;

  }

#HIBP_feedback{
    display: block;
    text-align: center;
    font-size: 20px;
    margin-top: 15px;
}

.box-nist {
    width: 90%;
    max-width: 830px;
    margin-left: auto;
    margin-right: auto;
    text-align: justify;

}
.checkbox {
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto;
    width: 85%;
    border-radius: 25px;
    padding: 5px;
    min-height: 20px;
    max-width: 830px;

    /* border: #000000 1px solid; */
}


.rules__checkbox{
    margin-right: 45px;
}

.checkbox__input{
    margin-right: 5px;
}

.rules__checkbox + label::before {
    content: "";
    width: 100%;
    align-items: center;
}

.rules__checkbox.checked{
    opacity: 0.5;

}

#status{
    text-align: center;
}
.warningIcon{
    display: block;
    margin: auto;
}
